.app-main {
    margin-top: 0.5rem;
}

.container {
    width: 90%;
}

.navbar {
    background-color: #f0f1f4;
    height: 2.5rem;
}

.navbar .logoff {
    margin: 0.5rem;
}

.navbar .btn {
    font-size: 0.8rem;
    margin-right: 0.2rem;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.disableClick {
    pointer-events: none;
}

h1.page-title {
    font-size: 1.5rem;
    margin: 0;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
}
