.app-main {
    margin-top: 0.5rem;
}

.container {
    width: 90%;
}

.navbar {
    background-color: #f0f1f4;
    height: 2.5rem;
}

.navbar .logoff {
    margin: 0.5rem;
}

.navbar .btn {
    font-size: 0.8rem;
    margin-right: 0.2rem;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.disableClick {
    pointer-events: none;
}

h1.page-title {
    font-size: 1.5rem;
    margin: 0;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
}

.navbar .logo {
    color: #5764c6;
    margin: 0 15px;
}

.login-form {
    border: #3f4eba thick;
}

.login-form-logo {
    align-content: center;
    text-align: center;
}

.login-form-logo img {
    height: 10em;
}

.login-form input[type=submit] {
    width: 100%;
}
